
<div class="row">
	<table class="table">
  <thead>
    <tr>
      <th class="app_id">#</th>
      <th class="app_section">Section</th>
      <th class="app_difficulty">Difficulty</th>
      <th class="app_color">Grip Color</th>
      <th class="app_builder">Builders</th>
      <th class="app_date">Date</th>
      <th class="app_note">Note</th>
    </tr>
  </thead>
  <tbody>


  </tbody>
</table>
</div>