<div class="row">
<table class="table">
  <thead>
    <tr>
      <th class="app_id">#</th>
      <th class="app_section">RouteSection</th>
      <th class="app_difficulty">RouteDifficulty</th>
      <th class="app_color">Grip Color</th>
      <th class="app_builder">Builders</th>
      <th class="app_date">Date</th>
      <th class="app_note">Note</th>
    </tr>
  </thead>
  <tbody>

  <tr style="cursor: pointer; cursor: hand;">
    <td class="app_id">1</td>
    <td class="app_section">A</td>
    <td class="app_difficulty">Hvid</td>
    <td class="app_color">Purple</td>
    <td class="app_builder">Morten, Clare</td>
    <td class="app_date">03-07-16</td>
    <td class="app_note">Dummy text</td>
  </tr>

  </tbody>
</table>
</div>