@using Microsoft.AspNetCore.Identity
@using electric_mouse.Models
@using Microsoft.AspNetCore.Authentication.Cookies

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html>
<head>
  <title>Klatreklub</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css" />
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/layout.css" />
  <link rel="manifest" href="/manifest.json">
</head>
<body>

@* Login navigation *@
@if (SignInManager.IsSignedIn(User))
{
    <ul id="user_dropdown" class="dropdown-content">
      <li>
        <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
          <a href="javascript:void(0)" onclick="$(this).closest('form').submit()"><i class="material-icons">exit_to_app</i>Log Out</a>
        </form>
      </li>
    </ul>
}
    <ul id="admin_dropdown" class="dropdown-content">
      <li>
        <a href="/hall/create">Create Hall</a>
      </li>
    </ul>

<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <div class="nav-content">
        <a class="brand-logo" href="/">Klatreklub</a>

        <a href="javascript:void(0)" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>

          <ul class="right hide-on-med-and-down">

              @if (true @*Add admin logic here*@)
              {
                  <li>
                    <a class="dropdown-button" href="#" data-activates="admin_dropdown" data-beloworigin="true"><i class="material-icons left">person</i>Admin<i class="material-icons right" style="margin-left: 0;">arrow_drop_down</i></a>
                  </li>
              }

            <li><a href="/section/"><img src="/images/climber.svg" class="left"/>Sections</a></li>
            <li><a href="/route"><img src="/images/climber.svg" class="left"/>Routes</a></li>

              @if (SignInManager.IsSignedIn(User))
              {
                  <li>
                      <a class="dropdown-button" href="#" data-activates="user_dropdown" data-beloworigin="true"><i class="material-icons left">person</i>@UserManager.GetUserName(User)<i class="material-icons right" style="margin-left: 0;">arrow_drop_down</i></a>
                  </li>
              }
              else
              {
                  <li><a href="/Account/Login"><i class="material-icons left">person</i>Login</a></li>
              }

          </ul>
        <ul class="side-nav" id="mobile-nav">
          <li><a href="/"><i class="material-icons">home</i>Home</a></li>
          <li><a href="/route"><i class="material-icons">place</i>Routes</a></li>
          @if (SignInManager.IsSignedIn(User))
          {
              <li>
                <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
                  <a href="javascript:void(0)" onclick="$(this).closest('form').submit()"><i class="material-icons">exit_to_app</i>Log Out</a>
                </form>
              </li>
          }
          else
          {
              <li><a href="/Account/Login"><i class="material-icons">person</i>Login</a></li>
          }
        </ul>
      </div>

    </div>
  </nav>
</div>

<div class="container">
  @RenderBody()
</div>

<div id="modal1" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Modal Header</h4>
    <div id="modal_content"></div>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

<script type="text/javascript" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/js/code.js"></script>
@RenderSection("scripts", required: false)
</html>