html {
    -webkit-user-select: none;
  }
	.app_section {text-align: center;}

  img { max-width: 100%; }

	@media only screen and (max-width: 700px), (min-width: 576px) and (max-width: 800px) {
		.app_note {display: none;}
		/*.container {width: 100% !important;}*/
	}

	@media only screen and (max-width: 576px) {
		.app_date {display: none;}
		.container th {text-align: center;}
	}
  @media only screen and (max-width: 425px) {
    .app_color {display: none;}
  }

@media only screen and (min-width: 993px) {
  .container {width: 80%;}
}

@media only screen and (min-width: 601px) {
  .container {width: 95%; max-width: 1600px;}
}

.nav-content .brand-logo {
  padding: 0 15px;
}

@media only screen and (max-width: 992px) {
    .nav-content { padding: 0 15px; }
    .nav-content .search_button a > span { display: none; }
    .nav-content .search_button a { padding: 0; }
}

  nav a:hover {
    text-decoration: none;
    color: inherit;
  }
  .side-nav a:hover {
    color: rgba(0,0,0,0.87);
  }

.nav-wrapper i {height: 48px !important;}

.table td, .table th {border-radius: 0;}
.table {min-width: 100%;}
td form .right {margin-left: 10px;}

.dataTables_filter {display: none;}
.nav-search input {width: 100%;}
.input-field input[type=search] ~ .material-icons {color: #fff;}
.nav-search .input-field { margin-top: 0; }

nav ul img {
    margin-top: 20px;
    height: 24px;
    padding-right: 15px;
}

/* Form workaround */
.dropdown-content form > a {
    font-size: 16px;
    color: rgba(0,0,0,0.87);
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}

.dropdown-content form a > i {
    float: left;
    line-height: 22px;
    margin: 0 22px 0 0;
    width: 22px;
    color: rgba(0,0,0,0.54);
}

.side-nav form a > i {
    float: left;
    line-height: 48px;
    margin: 0 32px 0 0;
    width: 24px;
    color: rgba(0,0,0,0.54);
}

.app_routetable tr {
    cursor: pointer;
    cursor: hand;
}

.small_margin {
    margin-bottom: 0;
}

.nav-flag {
    padding-right: 5px;
    height: 32px;
    margin-top: 16px;
}

.nav-flag-dropdown {
    padding: 0;
    width: 100%;
    margin: 0;
    height: inherit;
}

.color-circle
{
	display: inline;
	float: left;
    border: 2px solid black;
    padding: 8px 8px;
    background: white;
    width: 2px;
    height: 2px;
    border-radius: 100%;
    margin-right: 10px;
}

/* Loading */
#loading {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	display: none;
}
#loading-inner {
	display: block;
	position: relative;
	left: 50%;
	top: 50%;
	width: 64px;
	height: 64px;
	margin: -32px 0 0 -32px;
	z-index: 1500;
}

.selected-user-display {
    display: inline-block;
    background-color: #ee6e73;
    margin: 10px 0 10px 10px;
    padding: 0 10px;
}

.user-display {
    margin-top: 0px;
    margin-bottom: 0px;
}

.user-display p {
    margin-top: 0px;
}