@model electric_mouse.Models.HallViewModels.HallCreateViewModel

<h2>Hall View</h2>

<div class="col s12">
    <div class="row">
        <form asp-controller="Hall" asp-action="Create" method="post">
            <div class="input-field col s2">
                <button type="submit" class="btn waves-effect waves-light red right"> + New Hall </button>
            </div>
            <div class="input-field col s8">
                <input type="text" min="1" name="Name" />
                <label for="Name">Name</label>
            </div>
        </form>
    </div>
</div>

<div class="col s12">
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th class="app_Name">Name</th>
                    <th>Number of sections</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Halls)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Sections.Count</td>
                        <td>
                            <form asp-controller="Hall" asp-action="Delete" method="post">
                                @if (item.Sections.Count > 0)
                                {
                                    <button type="submit" class="btn waves-effect waves-light red right" disabled>Delete</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn waves-effect waves-light red right">Delete</button>
                                }

                                <input type="hidden" name="ID" value="@item.RouteHallID"/>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>